@model IEnumerable<FactureXpressProject.Models.Settings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tva)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SettingsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SettingsId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
